
body {
    font-family: helvetica;
    font-size: 18px;
    color:rgb(68, 68, 68);
    line-height: 1.4;
    margin: 0;
}

@media (max-width: 767px) {
    
}

h1 {
    font-size: 65px;
    text-align: center;
    margin:20px;
}

h2 {
    font-size:32px;
    font-weight: bold;
    line-height: 1.2;
    color:#419fca;
}


form {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}

form button {
    display: inline-block;
    background-color: #65c20f;
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 20px 45px;
    border: 0;
    width: auto;
    margin:0;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
}

.question {
    margin:20px;
    padding:15px 20px;
    background-color: rgb(218, 226, 233);
    border:2px solid black;
    border-radius: 20px;
}

#result {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

#score {
    text-align: left;
    margin-bottom:10px;
}

.questionText {
    font-weight: bold;
}

.answer {
    border-radius:15px;
    margin-bottom:3px;
    padding-left:5px;
}
.good {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    background-color: rgb(40, 199, 40);
    color: white;
}
.bad {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    background-color: rgb(189, 45, 45);
    color: white;
}


.float-right {
    float: right;
}
.text-center {
    text-align:center;
}
.block-center {
    margin-left:auto;
    margin-right:auto;
}
.inline {
    display: inline-block;
}
.foreground {
    position:relative;
    z-index:99;
}




@media (max-width: 767px) {
    form {
        grid-template-columns:1fr;
    }
}